NodeRed/SteppIR Base.json
[{"id":"bffc0fa2.ebfb28","type":"tab","label":"Base SteppIR","disabled":false,"info":""},{"id":"0854e7b14bd735f1","type":"link in","z":"bffc0fa2.ebfb28","name":"","links":["503ffb5.7674c84","cd70961baea797dc","9d1f7ad2c660f044"],"x":115,"y":840,"wires":[["3b73e37ff183e99f","9f2b0809ae2d9685","c0b5039acf4b8c6c","14e83eb7e7425daf","b90c5713b499b535"]]},{"id":"3b73e37ff183e99f","type":"debug","z":"bffc0fa2.ebfb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":540,"wires":[]},{"id":"fdc917138ce299e4","type":"debug","z":"bffc0fa2.ebfb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":680,"wires":[]},{"id":"9f2b0809ae2d9685","type":"function","z":"bffc0fa2.ebfb28","name":"SteppIR Frequency","func":"\n\nFrequencyBuffer= Buffer.from(msg.payload,\"latin1\"); // another option\n\nvar Frequency = 0;\n\nFrequency1 =  FrequencyBuffer[3] *256 *256 ;\n\nFrequency2 =  FrequencyBuffer[4] *256 ;\n\nFrequency3 =  FrequencyBuffer[5];\n\nFrequency = Frequency1 +  Frequency2 + Frequency3\n\nflow.set('SteppIRIndicated',Frequency)\n\nmsg.payload = Frequency\n\nmsg.freq = (Frequency / 100000).toFixed (3)\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":660,"wires":[["fdc917138ce299e4","539b8bfba3b24af0","308665b91b781e90","acd43992ca73c6fa","769a4eb1797248da"]]},{"id":"c0b5039acf4b8c6c","type":"function","z":"bffc0fa2.ebfb28","name":"Direction","func":"\nFrequencyBuffer= Buffer.from(msg.payload,\"latin1\"); // another option\n\n\n\n//decode buffer to get controllers direction\n//decode number then selects text item from array.\n\n\nvar Direction = 0;\n\nvar DirectionStrings = [\"Normal\",\"1\",\"180&#176;\",\"3/4\",\"BI DIR\",\"5\",\"6\",\"7\"];\n\nDirection = FrequencyBuffer[7];\n\nDirection = (Direction & 0b11100000) >> 5;\n\nmsg.flagdir = Direction\n\nif(Direction == 5){Direction = \"Error!\";}\n\nflow.set(\"SteppirDirectionFlag\",DirectionStrings[Direction] );\n\nmsg.payload = DirectionStrings[Direction] // + \", \" + Direction;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":820,"wires":[["a317fdbd67a4741b","2a3a4a7ff1f6120f","07d388879dd05fd4"]]},{"id":"a317fdbd67a4741b","type":"debug","z":"bffc0fa2.ebfb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":800,"wires":[]},{"id":"14e83eb7e7425daf","type":"function","z":"bffc0fa2.ebfb28","name":"Motor Flag","func":"\nFrequencyBuffer= Buffer.from(msg.payload,\"latin1\"); // another option\n\n\n\n\n// deterime if motors are running\n//0 sent when motors not running. 253 occasionally received.\n\nvar MotorFlag =0;\n\nMotorFlag = FrequencyBuffer[6];\n\nflow.set(\"SteppIRMotorFlag\",MotorFlag);\n\nif(MotorFlag !== 0 && MotorFlag != 255){msg.payload = \"moving\"}\n\nelse{msg.payload = \"ready\"}\n\n\nmsg.motorflag = MotorFlag\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":960,"wires":[["a5aca1dd6a4f996d","231bbfbc33094654","e09ba73faace92b3","323aeb853e456e8f"]]},{"id":"2a3a4a7ff1f6120f","type":"debug","z":"bffc0fa2.ebfb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"flagdir","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":840,"wires":[]},{"id":"a5aca1dd6a4f996d","type":"debug","z":"bffc0fa2.ebfb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":940,"wires":[]},{"id":"539b8bfba3b24af0","type":"debug","z":"bffc0fa2.ebfb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"freq","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":640,"wires":[]},{"id":"231bbfbc33094654","type":"debug","z":"bffc0fa2.ebfb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"motorflag","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":980,"wires":[]},{"id":"5f0a14333f00db64","type":"inject","z":"bffc0fa2.ebfb28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1415000","payloadType":"num","x":260,"y":1420,"wires":[["a6dcd25ce2019a7c"]]},{"id":"cf54f1c8708dc224","type":"inject","z":"bffc0fa2.ebfb28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2800000","payloadType":"num","x":260,"y":1460,"wires":[["a6dcd25ce2019a7c"]]},{"id":"a6dcd25ce2019a7c","type":"function","z":"bffc0fa2.ebfb28","name":"Send Steppir Frequency","func":"// build command buffer to send to controller.\n\nvar Frequency = parseFloat(msg.payload); //2120000; //freq / 10 so 14200000 = 1420000\n\n\nflow.set('SteppIRfreq',Frequency)\n\nmsg.payload = [\"@\",\"A\",\"z\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"\\r\"] // dummy array\n\n\n//Build SteppIR Frequencey from msg.payload\n\nvar FrequencyBuffer= new Buffer(msg.payload,\"latin1\"); // create buffer\n\nFrequencyBuffer[0] = 0x40 ;\nFrequencyBuffer[1] = 0x41 ;\nFrequencyBuffer[2] = 0x00 ;\nFrequencyBuffer[3] = (Frequency&0xFF0000) >> 16 ;\nFrequencyBuffer[4] = (Frequency&0x00FF00) >>  8 ;\nFrequencyBuffer[5] = (Frequency&0x0000FF)  ;\nFrequencyBuffer[6] = 0x00 ; // 0x00\n\n\n\n//Build Direction from Context\n\nvar dir = flow.get('SteppirDirectionFlag'); // get current direction to resend with new freq\n\n\nif(dir == \"180&#176;\"){FrequencyBuffer[7]= 0x40}\n\nelse if(dir == \"BI DIR\"){FrequencyBuffer[7]= 0x80}\n\nelse{ FrequencyBuffer[7]= 0x00   } \n\n\n//Notes\n\nFrequencyBuffer[8]= 0x00 ; // Ascii CMD 0x00 = ignore, \"1\" = default\nFrequencyBuffer[9] = 0x00 ; // 0x00\nFrequencyBuffer[10] = 0x0D ;  //0x0D cr\n\nmsg.payload = FrequencyBuffer; \nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1460,"wires":[["80d5170fc40f5552"]]},{"id":"80d5170fc40f5552","type":"link out","z":"bffc0fa2.ebfb28","name":"","links":["6991b878.217458","c66a779c7e2b5519","ad117d6b32a6eb0d"],"x":1115,"y":1460,"wires":[]},{"id":"9f731496decfe137","type":"function","z":"bffc0fa2.ebfb28","name":"Send Steppir Direction","func":"\n\n//Set SteppIR Frequency from Context\n\n\nFrequency = parseFloat(flow.get('SteppIRfreq')); //need to send freq with direction command\n\nif(msg.payload == \"180\"){dir = 0x40}\n\nelse if(msg.payload == \"BID\"){dir = 0x80}\n\nelse if(msg.payload == \"Normal\"){dir = 0x00}\n\nelse{ dir = 0x00}    \n\n\nmsg.payload = [\"@\",\"A\",\"z\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"\\r\"] // dummy array\n\nFrequencyBuffer= new Buffer(msg.payload,\"latin1\"); // create buffer to send\n\nFrequencyBuffer[0] = 0x40 ;\nFrequencyBuffer[1] = 0x41 ;\nFrequencyBuffer[2] = 0x00 ;\nFrequencyBuffer[3] = (Frequency&0xFF0000) >> 16 ;\nFrequencyBuffer[4] = (Frequency&0x00FF00) >>  8 ;\nFrequencyBuffer[5] = (Frequency&0x0000FF)  ;\nFrequencyBuffer[6] = 0x00 ; // 0x00\nFrequencyBuffer[7] = dir;  //0x40 ; //Direction normal = 0x00, 180 = 0x40\nFrequencyBuffer[8] = 0x00 ; // Ascii CMD 0x00 = ignore, \"1\" = default\nFrequencyBuffer[9] = 0x00 ; // 0x00\nFrequencyBuffer[10] = 0x0D ;  //0x0D cr\n\nmsg.payload = FrequencyBuffer; \nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1740,"wires":[["3f7c737df0780078"]]},{"id":"c0569f6b97ba62a6","type":"link out","z":"bffc0fa2.ebfb28","name":"","links":["6991b878.217458","c66a779c7e2b5519","ad117d6b32a6eb0d"],"x":1155,"y":1740,"wires":[]},{"id":"e71e03973c48e381","type":"inject","z":"bffc0fa2.ebfb28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"180","payloadType":"str","x":250,"y":1720,"wires":[["9f731496decfe137"]]},{"id":"a02bda6503130dda","type":"inject","z":"bffc0fa2.ebfb28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"BID","payloadType":"str","x":250,"y":1760,"wires":[["9f731496decfe137"]]},{"id":"5981ec2abfd55c39","type":"inject","z":"bffc0fa2.ebfb28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Normal","payloadType":"str","x":240,"y":1660,"wires":[["9f731496decfe137"]]},{"id":"8dfe42883fdbd531","type":"inject","z":"bffc0fa2.ebfb28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"HOME","payloadType":"str","x":260,"y":1960,"wires":[["784e92532f0a75a3"]]},{"id":"83d04c5189b8a525","type":"inject","z":"bffc0fa2.ebfb28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CALIBRATE","payloadType":"str","x":250,"y":2020,"wires":[["784e92532f0a75a3"]]},{"id":"5b993aae99f6280c","type":"inject","z":"bffc0fa2.ebfb28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TRACK","payloadType":"str","x":250,"y":2080,"wires":[["784e92532f0a75a3"]]},{"id":"77796e6c7bcc2577","type":"inject","z":"bffc0fa2.ebfb28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"NOTRACK","payloadType":"str","x":280,"y":2140,"wires":[["784e92532f0a75a3"]]},{"id":"784e92532f0a75a3","type":"function","z":"bffc0fa2.ebfb28","name":"Send Steppir Mode","func":"\n// Build Mode Command\n\n\nvar DirectionCMD = msg.payload\nvar mode = \"\"\n\nif (DirectionCMD == \"HOME\")\n    {\n        \n        mode = 0x53; // Home\n      \n    }\n\nif (DirectionCMD == \"CALIBRATE\")\n    {\n        \n        mode = 0x56; // CAL\n        \n    }\n\n\nif (DirectionCMD == \"TRACK\")\n    {\n       \n        mode = 0x52; // Track\n       \n    }\n\nif (DirectionCMD == \"NOTRACK\")\n    {\n        \n        mode = 0x55//0x52; // Track OFF\n        \n    }\n    \n\n\n\n//Set Direction From Context\n\n\nvar direction = flow.get(\"SteppirDirectionFlag\")\n\nif(direction == \"180&#176;\"){\n    dir = 0x40\n}\n\nelse if(direction == \"BI DIR\"){\n    dir = 0x80\n    \n    \n}\n\nelse if(direction == \"Normal\"){\n    dir = 0x00\n    \n    \n}\n\nelse{\n    dir = 0x00\n}    \n\n\n\nmsg.payload = [\"@\",\"A\",\"z\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"0\",\"\\r\"] // dummy array\n\nFrequencyBuffer= new Buffer(msg.payload,\"latin1\"); // create buffer to send\n\nFrequency = parseFloat(flow.get('SteppIRfreq')); //need to send freq with direction command\n\n\nFrequencyBuffer[0] = 0x40 ;\nFrequencyBuffer[1] = 0x41 ;\nFrequencyBuffer[2] = 0x00 ;\nFrequencyBuffer[3] = (Frequency&0xFF0000) >> 16 ;\nFrequencyBuffer[4] = (Frequency&0x00FF00) >>  8 ;\nFrequencyBuffer[5] = (Frequency&0x0000FF)  ;\nFrequencyBuffer[6] = 0x00 ; // 0x00\nFrequencyBuffer[7] = dir;  //0x40 ; //Direction normal = 0x00, 180 = 0x40\nFrequencyBuffer[8] = mode ; // Ascii CMD 0x00 = ignore, \"1\" = default\nFrequencyBuffer[9] = 0x00 ; // 0x00\nFrequencyBuffer[10] = 0x0D ;  //0x0D cr\n\nmsg.payload = FrequencyBuffer; \nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":2020,"wires":[["2111bde714534cb6"]]},{"id":"c9cfd6714bdc3718","type":"link out","z":"bffc0fa2.ebfb28","name":"","links":["6991b878.217458","c66a779c7e2b5519","ad117d6b32a6eb0d"],"x":1175,"y":2020,"wires":[]},{"id":"b90c5713b499b535","type":"function","z":"bffc0fa2.ebfb28","name":"Track Flag","func":"\nvar TrackFlag = 0;\n\n\nvar FrequencyBuffer= new Buffer(msg.payload); \n\nTrackFlag=FrequencyBuffer[7];\n\nTrackFlag = (TrackFlag & 0b00000100) >> 2;\n\n\nmsg.payload = TrackFlag;\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1140,"wires":[["cd75e197bb1d2c32","59c8cd69482f1cdd","838b3b8001fa69b7"]]},{"id":"cd75e197bb1d2c32","type":"debug","z":"bffc0fa2.ebfb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":1140,"wires":[]},{"id":"468920c4e7373237","type":"link out","z":"bffc0fa2.ebfb28","name":"SteppIR Frequency","links":["957ee058ea65f27d"],"x":735,"y":740,"wires":[]},{"id":"fab197d17945e945","type":"link out","z":"bffc0fa2.ebfb28","name":"Direction","links":["5cc675eac8b7fda9"],"x":735,"y":880,"wires":[]},{"id":"5cc675eac8b7fda9","type":"link in","z":"bffc0fa2.ebfb28","name":" Stop Send SteppIR Frequency","links":["fab197d17945e945"],"x":455,"y":1800,"wires":[["ed16614ddded3a23"]]},{"id":"ed16614ddded3a23","type":"change","z":"bffc0fa2.ebfb28","name":"stop send if received","rules":[{"t":"set","p":"resend_ignore","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1800,"wires":[["3f7c737df0780078"]]},{"id":"3f7c737df0780078","type":"msg-resend","z":"bffc0fa2.ebfb28","interval":"1","intervalUnit":"secs","maximum":"10","bytopic":false,"clone":false,"firstDelayed":false,"addCounters":false,"waitForResend":false,"highRate":false,"outputCountField":"","outputMaxField":"","name":"resend until change received","x":920,"y":1740,"wires":[["c0569f6b97ba62a6"]]},{"id":"bb73fec24347590d","type":"link in","z":"bffc0fa2.ebfb28","name":" Stop Send SteppIR Frequency","links":["2abbd295c0555126","e3bdf95e718bad90"],"x":475,"y":2100,"wires":[["74f4a5187f1a6b23"]]},{"id":"74f4a5187f1a6b23","type":"change","z":"bffc0fa2.ebfb28","name":"stop send if received","rules":[{"t":"set","p":"resend_ignore","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":2100,"wires":[["2111bde714534cb6"]]},{"id":"2111bde714534cb6","type":"msg-resend","z":"bffc0fa2.ebfb28","interval":"1","intervalUnit":"secs","maximum":"10","bytopic":false,"clone":false,"firstDelayed":false,"addCounters":false,"waitForResend":false,"highRate":false,"outputCountField":"","outputMaxField":"","name":"resend until change received","x":940,"y":2020,"wires":[["c9cfd6714bdc3718"]]},{"id":"2abbd295c0555126","type":"link out","z":"bffc0fa2.ebfb28","name":"Motor Flag","links":["bb73fec24347590d"],"x":715,"y":1020,"wires":[]},{"id":"e3bdf95e718bad90","type":"link out","z":"bffc0fa2.ebfb28","name":"Track Flag","links":["bb73fec24347590d"],"x":695,"y":1200,"wires":[]},{"id":"308665b91b781e90","type":"rbe","z":"bffc0fa2.ebfb28","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":610,"y":740,"wires":[["468920c4e7373237"]]},{"id":"07d388879dd05fd4","type":"rbe","z":"bffc0fa2.ebfb28","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":590,"y":880,"wires":[["fab197d17945e945"]]},{"id":"e09ba73faace92b3","type":"rbe","z":"bffc0fa2.ebfb28","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":610,"y":1020,"wires":[["2abbd295c0555126"]]},{"id":"59c8cd69482f1cdd","type":"rbe","z":"bffc0fa2.ebfb28","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":580,"y":1200,"wires":[["e3bdf95e718bad90"]]},{"id":"e1a2e128f1c8db4e","type":"comment","z":"bffc0fa2.ebfb28","name":"SteppIR Status","info":"","x":680,"y":380,"wires":[]},{"id":"90ce6335360e3f2c","type":"ui_text","z":"bffc0fa2.ebfb28","group":"425b496b4e9e8356","order":1,"width":0,"height":0,"name":"StepFreq Yagi","label":" <font size = 5px>SteppIR Frequency","format":" <font size = 5px>{{msg.freq}}","layout":"row-spread","x":1020,"y":580,"wires":[]},{"id":"fddc3b2dbcd93d7f","type":"comment","z":"bffc0fa2.ebfb28","name":"Enter SteppIR COM Port","info":"","x":650,"y":80,"wires":[]},{"id":"acd43992ca73c6fa","type":"rbe","z":"bffc0fa2.ebfb28","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":650,"y":580,"wires":[["a18d226d09936654"]]},{"id":"7d9336e6d5ead717","type":"link in","z":"bffc0fa2.ebfb28","name":"Flex Freq In","links":["680a9e63bf9aa0e9","1009d83869146327"],"x":255,"y":1500,"wires":[["a6dcd25ce2019a7c"]]},{"id":"228a01877617d0e1","type":"comment","z":"bffc0fa2.ebfb28","name":"SteppIR Commands","info":"","x":590,"y":1340,"wires":[]},{"id":"323aeb853e456e8f","type":"link out","z":"bffc0fa2.ebfb28","name":"Motor Flag Out","links":["2ae3386168d3f217","40631f945be5be2d","23ce13f2517198a3","12e9c7decb8ba0f0"],"x":575,"y":1080,"wires":[]},{"id":"d5217e0a1c5075e4","type":"link in","z":"bffc0fa2.ebfb28","name":"SteppIR Mode In","links":["1c556a558e8ca61d"],"x":335,"y":1900,"wires":[["784e92532f0a75a3"]]},{"id":"3f7b159c4402712f","type":"link in","z":"bffc0fa2.ebfb28","name":"Mode Command In","links":["0a24760f44572bf8"],"x":315,"y":1600,"wires":[["9f731496decfe137"]]},{"id":"838b3b8001fa69b7","type":"link out","z":"bffc0fa2.ebfb28","name":"Track Flag Out","links":["b3396b4087f06cfc"],"x":565,"y":1260,"wires":[]},{"id":"a18d226d09936654","type":"string","z":"bffc0fa2.ebfb28","name":"","methods":[{"name":"toFloat","params":[{"type":"num","value":"3"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":830,"y":580,"wires":[["90ce6335360e3f2c"]]},{"id":"769a4eb1797248da","type":"trigger","z":"bffc0fa2.ebfb28","name":"","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":650,"y":500,"wires":[["a18d226d09936654"]]},{"id":"f7a65d03bc332241","type":"serial out","z":"bffc0fa2.ebfb28","name":"","serial":"b2a4affd.95c7a","x":1190,"y":240,"wires":[]},{"id":"ff42673d7a223ab6","type":"inject","z":"bffc0fa2.ebfb28","name":"","props":[{"p":"payload","v":"?A","vt":"str"},{"p":"topic","v":"","vt":"str"}],"repeat":"1.5","crontab":"","once":true,"onceDelay":"","topic":"","payload":"?A","payloadType":"str","x":850,"y":160,"wires":[["e1600abf294737d7"]]},{"id":"e1600abf294737d7","type":"function","z":"bffc0fa2.ebfb28","name":"AddCR","func":"msg.payload=msg.payload+\"\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":160,"wires":[["f7a65d03bc332241"]]},{"id":"16fe7af6d88699f3","type":"serial in","z":"bffc0fa2.ebfb28","name":"","serial":"b2a4affd.95c7a","x":250,"y":220,"wires":[["54c65b362b1764de","e65cabe1977dc9ed"]]},{"id":"54c65b362b1764de","type":"rbe","z":"bffc0fa2.ebfb28","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":470,"y":240,"wires":[["9d1f7ad2c660f044"]]},{"id":"e65cabe1977dc9ed","type":"trigger","z":"bffc0fa2.ebfb28","name":"","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"6","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":480,"y":200,"wires":[["9d1f7ad2c660f044"]]},{"id":"9d1f7ad2c660f044","type":"link out","z":"bffc0fa2.ebfb28","name":"SteppIR TCP Out","links":["0854e7b14bd735f1"],"x":585,"y":240,"wires":[]},{"id":"ad117d6b32a6eb0d","type":"link in","z":"bffc0fa2.ebfb28","name":"SteppIR TCP In","links":["80d5170fc40f5552","c0569f6b97ba62a6","c9cfd6714bdc3718"],"x":765,"y":240,"wires":[["f7a65d03bc332241"]]},{"id":"425b496b4e9e8356","type":"ui_group","name":"SteppIR Yagi","tab":"8eb6fc2add9a8f4b","order":2,"disp":true,"width":"6","collapse":false},{"id":"b2a4affd.95c7a","type":"serial-port","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"high","rts":"high","cts":"high","dsr":"high","newline":"\\r","bin":"bin","out":"char","addchar":"","responsetimeout":"10000"},{"id":"8eb6fc2add9a8f4b","type":"ui_tab","name":"W7NIK DASHBOARD","icon":"dashboard","order":1,"disabled":false,"hidden":false}]